{
  "parser": "@babel/eslint-parser",
  "env" : {"jest":true},
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/test/**", "**/test-integration/**"]}],
    "no-unsafe-optional-chaining": ["error"],
    "arrow-body-style": ["off", "as-needed"],
    "arrow-parens": ["warn", "as-needed", { "requireForBlockBody": true }],
    "function-paren-newline": ["error", "multiline"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-classes-per-file": 0,
    "max-len": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 10 }],
    "no-return-assign": ["error", "except-parens"],
    "no-unused-vars": ["error", { "args": "none" }],
    "object-curly-newline": ["error", { "minProperties": 10, "consistent": true }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }]
  }
}